$main-color: #275A53;
$light-background: #F1F6F4;
$font-weight-800: 800;
$font-weight-600: 600;

//header
.logo{
    width: 90px;
    height: 47px;
}
.header-link{
    padding:8px 20px!important;
    font-weight:600!important;
    color:#000!important;
    border-bottom: 4px solid transparent;
    transition: .5s;
}
.header-link:hover{
    text-decoration: none;
    border-bottom: 4px solid $main-color;
}
.header-button{
    padding: 0.375rem 1.75rem!important;
    background-color: $main-color!important;
}
//home banner
.home-banner{
    height: 400px;
    background-position: center center;
    background-size: 100% 100%;
}
//home rent
.home-rent{
    background-color: $light-background;
}
.home-rent h2{
    font-weight:$font-weight-800 ;
}
.home-rent h6{
    color: $main-color;
}
.single-apartment h5 ,.home-details h2,.home-details h3{
    font-weight:$font-weight-800 ;
    color: $main-color;
}
.single-apartment h2{
    color: $main-color;
}
.single-apartment{
    transition:.5s;
}
.single-apartment:hover{
    box-shadow: 0px 0px 10px 10px rgb(197, 197, 197);
}

//services 
.allServices, .home-rent{
    background-color: $light-background;
}
.service-info img{
    width: 100px;
}

//footer
.footer-area{
    background-color: $main-color;
    word-spacing: 5px;
}
.footer-area img{
    color: white;
    width: 30px;
    height: 30px;
}
//login pages
.login-form{
    border:1px solid #a7a7a7;
}
.login-form .custom-input{
    border:none;
    border-bottom:1px solid #a7a7a7;
    width:100%;
    margin:20px 0;
    font-weight:bold;
}
input[type=submit] {
    background-color:$main-color;
    border: 1px solid transparent;
    padding:10px;
    transition: all .5s ease-in-out;
}
input[type=submit]:hover{
    border:1px solid $main-color;
    background-color: #fff;
}
.login-form a{
    color:$main-color;
    font-weight:bold;
}
.login-others img{
    height: 25px;
    width: 25px;
}
.login-others button{
    width:30%;
    padding:10px 30px;
    margin:10px;
    border:1px solid #a7a7a7;
    border-radius:50px;
    transition: all .5s ease-in-out;
    font-weight:bold;
}
.login-others button:hover{
    border:1px solid $main-color;
    background-color:$main-color;
}
.login-or{
    position: relative;
}
.login-or::before{
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #a7a7a7;
    left: 120%;
    bottom: 7px;
}
.login-or::after{
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #a7a7a7;
    right: 120%;
    bottom: 7px;
}
//home Details
.homeDetails-form{
    background-color: #fff;
    padding: 35px!important;
    border-radius:5px;
    border:1px solid #bebebe;
}
.homeDetails-form input {
    font-size: 14px;    
    width: 100%;
    font-weight: 600;
    padding:10px 0;
    margin:10px 0;
    border: none;
    border-bottom:1px solid #ddd;
}
input[type=submit] {
    background-color: #3F90FC;
    color: #fff;
}
.error{
    color:red;
    display: block;
}
//booking List
.sidebar img{
    width:20px;
    height:20px;
    margin-right: 3%;
}